In [13]:
mytuple=(1,2,3,4.5,"india")

In [14]:
type(my_tuple)

tuple

In [6]:
type(mytuple)

set

In [7]:
type(mytuple)

set

In [15]:
mytuple+(10,80)

(1, 2, 3, 4.5, 'india', 10, 80)

In [17]:
mydict={"Name":"HAMI collections","location":"chennai","Founder":"MANIMARAN", "revenue":30000}

In [18]:
type(mydict)

dict

In [19]:
mydict.values()

dict_values(['HAMI collections', 'chennai', 'MANIMARAN', 30000])

In [20]:
mydict.keys()

dict_keys(['Name', 'location', 'Founder', 'revenue'])

mydict[1]

In [23]:
mydict["Name"]

'HAMI collections'

In [24]:
mydict["Name"]="HAMIPU"

In [25]:
mydict

{'Name': 'HAMIPU',
 'location': 'chennai',
 'Founder': 'MANIMARAN',
 'revenue': 30000}

In [26]:
# returning sum of even numbers in a list

In [28]:
m=[2,4,5,6,8,2]

In [29]:
evensum=0

In [52]:
for num in m:
if (num%2)==0:
    evensum += num

IndentationError: expected an indented block after 'for' statement on line 1 (751401074.py, line 2)